source https://nuget.org/api/v2


group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget FsUnit 2.1.0
  nuget NUnit 3.2.0
  nuget NUnit.Runners